<div class="container">
  <div class="gallery" *ngIf="catObject">
    <div class="cat-block" *ngFor="let cat of catObject; let i = index">
      <div *ngIf="i+1 === catObject.length" #theLastList>
        <div class="cat-image" style="background-image: url({{cat.url}})">
        </div>
        <span id="like_{{cat.id}}" class="like" (click)="pushLike(cat.id, i)"></span>
      </div>
      <div *ngIf="i+1 != catObject.length">
        <div class="cat-image" style="background-image: url({{cat.url}})">
        </div>
        <span id="like_{{cat.id}}" class="like" (click)="pushLike(cat.id, i)"></span>
      </div>
    </div>
  </div>
</div>
<div *ngIf="loaderService.isLoading | async">
  <p class="get-more">...загружаем котиков...</p>
</div>

